
<script id="comment-template" type="text/x-handlebars-template">
<div class="review__info">
    <h4>{{name}}</h4>
</div>
<div class="review__date">
    <span>{{time}}</span>
</div>
<div class="header--6">{{comment}}</div>
</script>