<!-- Start Contact Area -->
<section class="htc__contact__area ptb--40 bg__gray">
    <div class="container">
        <div class="row mtb--50">
            <div class="htc__contact__container">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="htc__contact__address">
                        <h2 class="contact__title">Thông tin liên hệ</h2>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-location-pin"></span>
                                </div>
                                <div class="contact__details">
                                    <p>Địa chỉ : <br> 227 Nguyễn Văn Cừ, Quận 5, TP.HCM.</p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-mobile"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Điện thoại : <br><a href="#">+035 959 3562 </a></p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-email"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Email :<br><a href="#">webdev.team468@gmail.com</a></p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                    </div>


                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="contact-form-wrap">
                        <div class="contact-title">
                            <h2 class="contact__title">Liên hệ với chúng tôi</h2>
                        </div>
                        <form id="contact-form" action="mail.php" method="post">
                            <div class="single-contact-form">
                                <div class="contact-box name">
                                    <input type="text" name="name" placeholder="Tên của bạn*">
                                    <input type="email" name="email" placeholder="Email*">
                                </div>
                            </div>
                            <div class="single-contact-form">
                                <div class="contact-box subject">
                                    <input type="text" name="subject" placeholder="Chủ đề*">
                                </div>
                            </div>
                            <div class="single-contact-form">
                                <div class="contact-box message">
                                    <textarea name="message"  placeholder="Nội dung*"></textarea>
                                </div>
                            </div>
                            <div class="contact-btn">
                                <button type="submit" class="fv-btn">GỬI</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Contact Area -->