
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


    <!-- Start Feature Product -->
    <section class="categories-slider-area bg__gray">
        <div class="container">
            <div class="row mtb--50">
                <!-- Start Left Feature -->
                <div class="">
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                        <div class="categories-menu mrg-xs">
                            <div class="product-categories-title">
                                <h3><strong>Bộ sưu tập</strong></h3>
                            </div>
                            <div class="category-menu-list">
                                <ul>
                                    <li>
                                        <a href="#">Truyện ngắn <i class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> Tiểu thuyết <i class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">Truyện tranh <i class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> Trinh thám <i class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"> Cổ tích<i class="zmdi zmdi-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style pb--50">
                        <!-- Start Slider Area -->
                        <div class="slider__container slider--one">
                            <div class="slider__activation__wrap owl-carousel owl-theme">
                                <!-- Start Single Slide -->
                                <div class="slide slider__full--screen slider-height-inherit slider-text-right " style="">
                                    <div class="container  slider__bg--1">
                                        <div class="row">
                                            <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12 ">
                                                <div class="slider__inner">
                                                    <h1 class="slider__content">Bộ sưu tập <br> <span class="text--theme">Sách của năm </span></h1>
                                                    <div class="slider__btn">
                                                        <a class="htc__btn " href="store/?page=1">Cửa hàng </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Slide -->
                                <!-- Start Single Slide -->
                                <div class="slide slider__full--screen slider-height-inherit  slider-text-left" style="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                                                <div class="slider__inner">
                                                    <h1>Bộ sưu tập<br><span class="text--theme">Sách của năm</span></h1>
                                                    <div class="slider__btn">
                                                        <a class="htc__btn text--white" href="/store/?page=1">Cửa hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Slide -->
                            </div>
                        </div>
                        <!-- Start Slider Area -->
                    </div>
                </div>
                <div class="row ptb--50">
                    <div class="only-banner ">
                        <div class="container">
                            <div class="only-banner-img">
                                <a href="/store"><img src="/images/new-product/1.png" alt="new product"></a>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- End Left Feature -->





            </div>



        </div>
    </section>



</body>

