<!-- Start Login Area -->
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url('/../../images/bg/5.jpg') no-repeat scroll center center / cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <li role="presentation" class="login active"><a role="tab" data-toggle="tab">ĐĂNG NHẬP</a></li>
                </ul>
            </div>
        </div>
        <!-- Start Login Register Content -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="htc__login__register__wrap">

                    {{#if errors}}
                        {{#each errors}}
                            <div class="alert alert-danger alert-dismissible text-center" role="alert">
                                <div class="alert-message">
                                    <strong> {{this}} </strong> Vui lòng nhập lại!
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}

                    <!-- Start Single Content -->
                    <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                        <form class="login" id="theForm" method="POST">
                            <input type="text" required name="username" placeholder="Email hoặc tên tài khoản*" >
                            <input type="password" required name="password" placeholder="Mật khẩu*" >
                        </form>
                        <div class="tabs__checkbox">
                            <span class="forget"><a href="/user/forget">Quên mật khẩu?</a></span>
                        </div>

                        <div class="htc__login__btn">
                            <button type="submit" form="theForm" value="Submit"><a>Đăng nhập</a></button>
                        </div>

                        <div class="text-center mt--10">
                            <br><br>
                            <h5>Chưa có tài khoản? <a href="/user/register"><span>ĐĂNG KÍ NGAY</span></a></h5>
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
        <!-- End Login Register Content -->
    </div>
</div>
<!-- End Login Area -->