<!-- Start Register Area -->
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url('/../../images/bg/5.jpg') no-repeat scroll center center / cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <li role="presentation" class="register"><a href="#register" role="tab" data-toggle="tab">ĐĂNG KÝ</a></li>
                </ul>
            </div>
        </div>
        <!-- Start Login Register Content -->
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="htc__login__register__wrap">

                    {{#if errors}}
                        {{#each errors}}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div class="alert-message">
                                    <strong> {{this}} </strong> Vui lòng nhập lại!
                                </div>
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if success}}
                        <div class="alert alert-success text-center" role="alert">
                            {{success}} <a href="/user/login" class="alert-link">Đăng nhập</a>.
                        </div>
                    {{/if}}

                    <!-- Start Single Content -->
                    <div id="register" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                        <form class="login" id="theForm" method="POST">
                            <input type="text" name="username" placeholder="Tên đăng nhập*" value = {{username}}>
                            <input type="email" name="email" placeholder="Email*" value = {{email}}>
                            <input type="password" name="password" placeholder="Mật khẩu (phải có ít nhất 6 ký tự)*">
                            <input type="password" name="retypePassword" placeholder="Nhập lại mật khẩu*">
                        </form>
                        <div class="tabs__checkbox">
                            <input type="checkbox">
                            <span> Lưu tài khoản của tôi</span>
                        </div>
                        <div class="htc__login__btn">
                            <a id ="theButton">Đăng ký</a>
                        </div>

                        <div class="text-center mt--10">
                            <br><br>
                            <h5>Đã có tài khoản? <a href="/user/login"><span>ĐĂNG NHẬP</span></a></h5>
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
        <!-- End Login Register Content -->
    </div>
</div>
<!-- End Register Area -->